{% extends 'layout0.html' %}
{% load staticfiles %}

{% block title %}对战大厅{% endblock %}

{% block body%}
<div class='x_title'>
    <h1>比赛项目</h1>
</div>
<table class='table'>
    <thead>
        <tr>
            <th>游戏名称</th>
            <th>信息</th>
            <th>参与者</th>
            <th>传送门</th>
        </tr>
    </thead>
    <tbody>
        {% with root_link="/game/" %}
        {% for type,game in games.items%}
        {% with sublink=type %}
        <tr {% include "sub/trow_link.html" %}{%endwith%}>
            <td>{{game.name}}</td>
            <td>WIP</td>
            <td>
                {{game.size}}代码({{game.users}}用户)
                <a class='btn-sm btn-info' href='/upload/?id={{type}}'>上传</a>
            </td>
            <td>
                <a class='btn-sm btn-info' href='./run_match/{{type}}/'>自由对战</a>
                <a class='btn-sm btn-info' href='./ranked_match/{{type}}/'>匹配对战</a>
                <a class='btn-sm btn-info' href='./ladder/{{type}}/'>查看天梯</a>
                <!-- <a class='btn-sm btn-info' href='./invitation/{{type}}/'>创建邀请</a> -->
            </td>
        </tr>
        {% endfor %}{% endwith %}
    </tbody>
</table>


<div class="x_title">
    <div style='float:right' id='pool_panel'>
    </div>
    <div>
        <h1>最近发起的比赛</h1>
    </div>
</div>
<table class='table' id='pool'>
    <thead>
        <tr>
            <th>发起时间</th>
            <th>游戏名称</th>
            <th>发起方</th>
            <th>接收方</th>
            <th>对局数</th>
            <th>比赛状态</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{% endblock %}

{% block script %}
<script>
    window.addEventListener('load', () => {
        window.table = new TableHolder('pool', '/table/match/?pre=near')
    })
</script>
{% endblock %}