{% extends 'form_base.html' %}

{% block title %}自由对战 - {{title}}{% endblock %}

{% block form_override %}
<div class="form-group">
    <div>
        <div>
            <label for="id_code1">我方代码:</label>
            <a class='float-right' href='#' id='random_roll_1'>手气不错</a>
        </div>
        {%if form.errors.code1%}
        <label style='color:red'>{{form.errors.code1}}</label>
        {%endif%}
    </div>
    <select name="code1" class="form-control" id="id_code1" required>
        <option value="">---------</option>
        {%for i in my_codes%}
        <option value={{i.id}} title="{{i.author.name}}">{{i.name}}</option>
        {%endfor%}
    </select>
</div>
<div class="form-group">
    <div>
        <div>
            <label for="id_code2">对方代码:</label>
            <a class='float-right' href='#' id='random_roll_2'>手气不错</a>
        </div>
        {%if form.errors.code2%}
        <label style='color:red'>{{form.errors.code2}}</label>
        {%endif%}
    </div>
    <select name="code2" class="form-control" id="id_code2" required>
        <option value="">---------</option>
        {%for i in target_codes%}
        <option value={{i.id}} title="{{i.author.name}}">{{i.author.name}} - {{i.name}}</option>
        {%endfor%}
    </select>
</div>

<div class='row x_block'>
    {%for elem in form%}
    {%if elem != form.extra_mode%}
    <div class="form-group col-sm-6">
        {% include "sub/form_element.html" %}
    </div>
    {%if forloop.counter == 2%}
</div>
<div class='row x_block'>
    {%endif%}
    {%endif%}
    {%endfor%}
</div>

{% if form.extra_mode.label %}
<div class='row x_block' id='extra_tab' style='overflow:hidden;height:0px;transition:0.5s all'>
    {% with elem=form.extra_mode %}
    <div class="form-group col-sm-12">
        {% include "sub/form_element.html" %}
    </div>
    {% endwith %}
</div>
{% endif %}

<div class="form-group">
    <input type="submit" value="发起比赛" class='btn btn-primary form-control'>
</div>
{% endblock %}

{% block footer %}
<div>
    <i>注：自由对战模式胜负对天梯分影响较小，是匹配模式的{{score_ratio| floatformat:-2}}%</i>
</div>
{% endblock %}

{% block script %}
<script>
    window.addEventListener('load', function () {
        document.getElementById('id_code1').value = "{{my_code}}"
        document.getElementById('id_code2').value = "{{target_code}}"
        for (var x = 1; x <= 2; x++)
            (function (ind) {
                var tmp = document.getElementById('id_code' + ind).children
                var rand_picker = []
                for (var i = 1; i < tmp.length; i++) {
                    rand_picker.push(tmp[i].value)
                }
                document.getElementById('random_roll_' + ind).addEventListener('click', e => {
                    e.preventDefault()
                    var randid = randrange(rand_picker.length)
                    document.getElementById('id_code' + ind).value = rand_picker[randid]
                })
            })(x)
    })
</script>

{% if form.extra_mode.label %}
<script>
    var extra_tab = document.getElementById('extra_tab')
    oldParent = extra_tab.parentNode
    extra_tab.parentNode.removeChild(extra_tab)
    final_code = 'SESSDSA'
    code = ''
    document.addEventListener('keydown', function (e) {
        window.code += e.key
        if (code == final_code) {
            oldParent.appendChild(extra_tab)
            extra_tab.style.height = extra_tab.scrollHeight + 'px'
        }
        else if (final_code.substr(0, code.length) != code) code = ''
    })
</script>
{% endif %}

{% endblock %}