{% extends 'form_base.html' %}
{% load staticfiles %}

{% block title %}发起比赛 - {{title}}{% endblock %}

{% block form_override %}
<div class="form-group">
    <div>
        <label for="id_code1">我方代码:</label>
        {%if form.errors.code1%}
        <label style='color:red'>{{form.errors.code1}}</label>
        {%endif%}
    </div>
    <select name="code1" class="form-control" id="id_code1" required>
        <option value="">---------</option>
        {%for i in my_codes%}
        <option value={{i.id}} title="{{i.author.username}}">{{i.name}}</option>
        {%endfor%}
    </select>
</div>
<div class="form-group">
    <div>
        <div>
            <label for="id_code1">对方代码:</label>
            <a class='float-right' href='#' id='random_roll'>手气不错</a>
        </div>
        {%if form.errors.code2%}
        <label style='color:red'>{{form.errors.code2}}</label>
        {%endif%}
    </div>
    <select name="code2" class="form-control" id="id_code2" required>
        <option value="">---------</option>
        {%for i in target_codes%}
        <option value={{i.id}} title="{{i.author.username}}">{{i.author.username}} - {{i.name}}</option>
        {%endfor%}
    </select>
</div>

<div class='row x_block'>
    {%for elem in form%}
    <div class="form-group col-sm-6">
        {% include "sub/form_element.html" %}
    </div>
    {%if forloop.counter == 2 or forloop.last%}
</div>
<div class='row x_block'>
    {%endif%}
    {%endfor%}
</div>

<div class="form-group">
    <input type="submit" value="发起比赛" class='btn btn-primary form-control'>
</div>
{% endblock %}

{% block script %}
<script>
    window.addEventListener('load', () => {
        document.getElementById('id_code1').value = "{{my_code}}"
        document.getElementById('id_code2').value = "{{target_code}}"
        var tmp = document.getElementById('id_code2').children
        var rand_picker = []
        for (var i = 1; i < tmp.length; i++) {
            rand_picker.push(tmp[i].value)
        }
        document.getElementById('random_roll').addEventListener('click', e => {
            e.preventDefault()
            var randid = randrange(rand_picker.length)
            document.getElementById('id_code2').value = rand_picker[randid]
        })
    })
</script>
{% endblock %}