{% extends 'form_base.html' %}

{% block title %}匹配赛 - {{title}}{% endblock %}

{% block form_override %}
<div class="form-group">
    <div>
        <label for="id_code1">参赛代码:</label>
        {%if form.errors.code1%}
        <label style='color:red'>{{form.errors.code1}}</label>
        {%endif%}
    </div>
    <select name="code1" class="form-control" id="id_code1" required>
        <option value="">---------</option>
        {%for i in my_codes%}
        <option value={{i.id}} title="{{i.author.name}}">{{i.name}}</option>
        {%endfor%}
    </select>
</div>

<div class='row x_block'>
    {%for elem in form%}
    {%if elem != form.extra_mode%}
    <div class="form-group col-sm-6">
        {% include "sub/form_element.html" %}
    </div>
    {%if forloop.counter == 2 or forloop.last%}
</div>
<div class='row x_block'>
    {%endif%}
    {%endif%}
    {%endfor%}
</div>

<div class="form-group">
    <input type="submit" value="发起比赛" class='btn btn-primary form-control'>
</div>
{% endblock %}

{% block footer %}
<div>
    <i>注：排位赛依据天梯积分匹配对手，比赛结果会引起积分变动</i>
</div>
{% endblock %}

{% block script %}
<script>
    window.addEventListener('load', () => {
        document.getElementById('id_code1').value = "{{my_code}}"
    })
</script>
{% endblock %}