{% extends 'form_base.html' %}
{% load staticfiles %}

{% block title %}匹配赛 - {{title}}{% endblock %}

{% block form_override %}
<div class="form-group">
    <div>
        <label for="id_code1">参赛代码:</label>
        {%if form.errors.code1%}
        <label style='color:red'>{{form.errors.code1}}</label>
        {%endif%}
    </div>
    <select name="code1" class="form-control" id="id_code1" required>
        <option value="">---------</option>
        {%for i in my_codes%}
        <option value={{i.id}} title="{{i.author.name}}">{{i.name}}</option>
        {%endfor%}
    </select>
</div>

<div class="form-group">
    <input type="submit" value="发起比赛" class='btn btn-primary form-control'>
</div>
{% endblock %}

{% block footer %}
<div>
    <i>注：排位赛依据天梯积分匹配对手，每局双方轮流发起比赛，比赛结果会引起积分变动</i>
</div>
<div>
    <i style='font-size:10'>注2：以上功能未实现</i>
</div>
{% endblock %}

{% block script %}
<script>
    window.addEventListener('load', () => {
        document.getElementById('id_code1').value = "{{my_code}}"
        document.getElementById('id_code2').value = "{{target_code}}"
        var tmp = document.getElementById('id_code2').children
        var rand_picker = []
        for (var i = 1; i < tmp.length; i++) {
            rand_picker.push(tmp[i].value)
        }
        document.getElementById('random_roll').addEventListener('click', e => {
            e.preventDefault()
            var randid = randrange(rand_picker.length)
            document.getElementById('id_code2').value = rand_picker[randid]
        })
    })
</script>
{% endblock %}