{% extends 'form_base.html' %}
{% load staticfiles %}

{% block title %}上传代码{% endblock %}

{% block form_override %}
<div class="form-group">
    {% with form.name as elem %}
    {% include "sub/form_element.html" %}
    {% endwith %}
</div>
<div class="form-group">
    {% with form.ai_type as elem %}
    {% include "sub/form_element.html" %}
    {% endwith %}
</div>
<div class="form-group row">
    <div class='col-sm-8'>
        {% with form.content as elem %}
        {% include "sub/form_element.html" %}
        {% endwith %}
    </div>
    <div class='col-sm-4'>
        {% with form.public as elem %}
        {% include "sub/form_element.html" %}
        {% endwith %}
    </div>
</div>
<div class="form-group">
    <input type="submit" value="上传" class='btn btn-primary form-control'>
</div>
{% endblock %}

{% block footer %}
<div>上传代码代表您已阅读并同意<a style='color:dodgerblue' href='#'>《假装这有一个协议》</a></div>
{% endblock %}

{% block script %}
<script>
    aitype = '{{ai_type}}'
    window.addEventListener('load', () => {
        document.getElementById('id_ai_type').value = aitype
    })
</script>
{% endblock %}