{% extends 'layout0.html' %}
{% load staticfiles %}

{% block title %}查看代码: {{code.name}}{% endblock %}

{% block header %}
<div class='col-sm-6'>
    <h1>代码: {{code.name}}</h1>
</div>
<div class='col-sm-6 text-right'>
    <h1>
        {% if my_code %}
        <a href="/home">个人主页</a>
        {% else %}
        <a href="/user/code.author.id/">作者: {{code.author.username}}</a>
        {% endif %}
    </h1>
</div>
{% endblock %}

{% block body %}
<div class='row x_block'>
    <div class='col-sm-4'>
        <p>名称: {{code.name}}</p>
        <p>类型: {{code.get_ai_type_display}}</p>
        <p>等级分: {{code.score_show}}</p>
    </div>
    <div class='col-sm-4'>
        <p>参与的比赛数: {{code.num_matches}}</p>
        <p>参与的对战数: {{code.num_records}}</p>
        <p>战绩: {{code.num_wins}}胜; {{code.num_loses}}负; {{code.num_draws}}平</p>
    </div>
    <div class='col-sm-4'>
        <p>最后修改时间: {{code.edit_datetime|date:"Y/m/d H:i:s"}}</p>
        <p>对战：
            {%if my_code%}
            <a href="/lobby/run_match/{{code.ai_type}}/?code1={{code.id}}">发起对战</a>
            {%endif%}
            <a href="/lobby/run_match/{{code.ai_type}}/?code2={{code.id}}">挑战该代码</a>
        </p>
        {%if my_code or code.public%}
        <p>操作：
            {%if my_code%}
            <a href="./edit">编辑代码</a>
            <a href="./del">删除代码</a>
            {%else%}
            <a href="./view">查看代码</a>
            <a href="./fork">创建副本</a>
            {%endif%}
        </p>
        {%endif%}
    </div>
</div>
<div class='row'>
    <!-- 作为发起者 -->
    <div class='col-sm-6'>
        <div class="x_title">
            <div style='float:right' id='pool1_panel'>
            </div>
            <div>
                <h1>发起的比赛：</h1>
            </div>
        </div>
        <table class='table' id='pool1'>
            <thead>
                <tr>
                    <th>接收方代码</th>
                    <th>创建时间</th>
                    <th>对局数</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <!-- 作为接受者 -->
    <div class='col-sm-6'>
        <div class="x_title">
            <div style='float:right' id='pool2_panel'>
            </div>
            <div>
                <h1>收到的比赛：</h1>
            </div>
        </div>
        <table class='table' id='pool2'>
            <thead>
                <tr>
                    <th>发起方代码</th>
                    <th>创建时间</th>
                    <th>对局数</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    window.addEventListener('load', () => {
        window.table1 = new TableHolder('pool1', '/table/match/?pre=send&codeid={{code.id}}', () => {
            window.table2 = new TableHolder('pool2', '/table/match/?pre=recv&codeid={{code.id}}')
        })
    })
</script>
{% endblock %}