{% extends 'layout0.html' %}
{% load staticfiles %}

{% block title %}查看比赛: {{match.code1.name}} vs. {{match.code2.name}}{% endblock %}

{% block header %}
<div class='col-sm-4'>
    <h1><a href="/code/{{match.code1.id}}/">{{match.code1.name}}</a></h1>
</div>
<div class='col-sm-4'>
    <h1 style='font-size: 35px;text-align: center'>
        {%if result_stat%}
        {{result_stat.0}} : {{result_stat.1}}
        {%endif%}
    </h1>
</div>
<div class='col-sm-4'>
    <h1 style='text-align: right'><a href="/code/{{match.code2.id}}/">{{match.code2.name}}</a></h1>
</div>
{% endblock %}

{% block body %}
<div class='row x_block'>
    <div class='col-sm-4'>
        <p>发起时间: {{match.run_datetime|date:"Y/m/d H:i:s"}}</p>
        <p>完成时间: {{match.finish_datetime|date:"Y/m/d H:i:s"}}</p>
    </div>
    <div class='col-sm-4'>
        <p>状态: {{match.get_status_display}}</p>
        <p>局数: {{match.finished_rounds}}/{{match.rounds}} </p>
    </div>
    <div class='col-sm-4'>
        <p>
            对局结果:
            {%if result_stat%}
            发起方{{result_stat.0}}胜 {{result_stat.1}}负 {{result_stat.draw}}平
            {%if delta_show%}
            (<span style='color:#ff3333' title='发起方等级分变动'>{{delta_show}}</span>)
            {%endif%}
            {%endif%}
        </p>
        <p>
            <a href="#" onclick='panel_status(0)'>查看记录</a>
            <a href="#" onclick='panel_status(1)'>查看统计</a>
            {%if my_match%}
            {%if match.status == 1%}
            <a href="./?op=stop">中止比赛运行</a>
            {%else%}
            <a href="./?op=del">删除记录</a>
            {%endif%}
            {%endif%}
        </p>
    </div>
</div>
<div id='view_results'>
    <div class='row'>
        <div class='col-sm-12'>
            <div class="x_title">
                <h1>各局比赛记录: </h1>
            </div>
            <table class='table'>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>先手方</th>
                        <th>比赛长度 (帧)</th>
                        <th>胜者</th>
                        <th>胜利原因</th>
                        <th>补充说明</th>
                    </tr>
                </thead>
                <tbody>
                    {%with root_link="./"%}
                    {%for record in records%}
                    {%with res=record.result%}
                    <tr {% with sublink=forloop.counter0 %}{% include "sub/trow_link.html" %}{%endwith%}>
                        <td>{{forloop.counter0}}</td>
                        <td>
                            {%if record.players.0 == "code1"%}
                            {{match.code1.name}}
                            {%else%}
                            {{match.code2.name}}
                            {%endif%}
                        </td>
                        <td>
                            {{record.timeleft.0 | length}}
                        </td>
                        <td>
                            {%if res.0 == 1%}
                            {%if record.players.0 == "code2"%}发起方{%endif%}
                            {%if record.players.0 == "code1"%}接受方{%endif%}
                            (后手)
                            {%endif%}
                            {%if res.0 == 0%}
                            {%if record.players.0 == "code1"%}发起方{%endif%}
                            {%if record.players.0 == "code2"%}接受方{%endif%}
                            (先手)
                            {%endif%}
                        </td>
                        <td>
                            {% include "sub/win_descrip.html" %}
                        </td>
                        <td>
                            {% if res.1 == 3 or res.1 == -3%}
                            {{res.2.0}} : {{res.2.1}}
                            {% endif %}
                        </td>
                    </tr>
                    {%endwith%}
                    {%endfor%}
                    {%endwith%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id='view_plots' style='display:none'>
    <div class='row'>
        <div class='col-sm-12'>
            <div class="x_title">
                <h1>比赛结果统计: </h1>
            </div>
        </div>
    </div>
    <h1>WORK IN PROGRESS</h1>
</div>
{% endblock %}

{% block script %}
<script>
    function panel_status(i) {
        switch (i) {
            case 0:
                document.getElementById('view_results').style.display = 'block'
                document.getElementById('view_plots').style.display = 'none'
                break
            case 1:
                document.getElementById('view_results').style.display = 'none'
                document.getElementById('view_plots').style.display = 'block'
                break
        }
    }
    //{% if match.status == 1 %}
    window.addEventListener('load', () => {
        setTimeout(() => {
            window.location.href += ''
        }, 3000)
    })
        //{% endif %}
</script>
{% endblock %}