{% extends 'layout0.html' %}
{% load tag_loader %}
{% load main_filters %}

{% block title %}查看比赛: {{match.code1.name}} vs. {{match.code2.name}}{% endblock %}

{% block header %}
<div class='col-sm-4'>
    <h1>
        <a href="/code/{{match.code1.id}}/">
            <img src="{{match.code1.author | g_icon}}" class='user-icon'>
            {{match.code1.name}}
        </a>
    </h1>
</div>
<div class='col-sm-4'>
    <h1 style='font-size: 35px;text-align: center'>
        {%if result_stat%}
        {{result_stat.0}} : {{result_stat.1}}
        {%endif%}
    </h1>
</div>
<div class='col-sm-4'>
    <h1 style='text-align: right'>
        <a href="/code/{{match.code2.id}}/">
            {{match.code2.name}}
            <img src="{{match.code2.author | g_icon}}" class='user-icon'>
        </a>
    </h1>
</div>
{% endblock %}

{% block body %}
<div class='row x_block'>
    <div class='col-sm-4'>
        <p>发起时间: {{match.run_datetime|date:"Y/m/d H:i:s"}}</p>
        <p>完成时间: {{match.finish_datetime|date:"Y/m/d H:i:s"}}</p>
    </div>
    <div class='col-sm-4'>
        <p>状态: {{match.get_status_display}}</p>
        <p>局数: {{match.finished_rounds}}/{{match.rounds}} </p>
    </div>
    <div class='col-sm-4'>
        <p>
            对局结果:
            {%if result_stat%}
            发起方{{result_stat.0}}胜 {{result_stat.1}}负 {%if result_stat.draw%}{{result_stat.draw}}平{%endif%}
            {%endif%}
        </p>
        <p>
            {%if my_match%}
            {%if match.status == 1%}
            <a class='btn-sm btn-warning' href="./?op=stop">中止比赛运行</a>
            {%else%}
            <a class='btn-sm btn-danger' href="./?op=del">删除记录</a>
            {%endif%}
            {%endif%}
        </p>
    </div>
</div>
<div id='view_results'>
    <div class='row x_block'>
        <div class='col-sm-4'>
            <div class='x_title' style='padding-top:0px'>
                <h1>
                    等级分变动
                    {%if match.is_ranked%}
                    (匹配模式)
                    {%else%}
                    (自由模式)
                    {%endif%}
                </h1>
            </div>
            <div>
                发起方 ({{match.code1.name}}):
                {{match.old_score1 | floatformat:2}}
                {% if match.status > 1 %}
                <span style='color:#ff3333'>{{match.delta_score | floatformat:2 | if_plus}}</span>
                {% endif %}
            </div>
            <div>
                接收方 ({{match.code2.name}}):
                {{match.old_score2 | floatformat:2}}
                {% if match.status > 1 %}
                <span style='color:#ff3333'>{{match.delta_score_code2 | floatformat:2 | if_plus}}</span>
                {% endif %}
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='x_title' style='padding-top:0px'>
                <h1>参赛代码版本</h1>
            </div>
            <div>
                发起方 ({{match.code1.name}}):
                {% if match.run_datetime > match.code1.edit_datetime %}
                为最新版本
                {%else%}
                <a href="/code/{{match.code1.id}}">已更新</a>
                {%endif%}
            </div>
            <div>
                接收方 ({{match.code2.name}}):
                {% if match.run_datetime > match.code2.edit_datetime %}
                为最新版本
                {%else%}
                <a href="/code/{{match.code2.id}}">已更新</a>
                {%endif%}
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='x_title' style='padding-top:0px'>
                <h1>使用比赛参数</h1>
            </div>
            <div>
                {{match.params}}
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <div class="x_title">
                <h1>各局比赛记录: </h1>
            </div>
            <table class='table'>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>先手方</th>
                        <th>比赛长度</th>
                        <th>胜者</th>
                        <th>胜利原因</th>
                        <th>补充说明</th>
                        <th>比赛过程</th>
                    </tr>
                </thead>
                <tbody>
                    {%for record in records%}
                    <tr class='bg-hover' onclick="location.href='./{{forloop.counter0}}'">
                        <td>
                            #{{forloop.counter}}
                        </td>
                        <td>
                            {{ match|r_holder:record }}
                        </td>
                        <td>
                            {{ match|r_length:record }}
                        </td>
                        <td>
                            {{ match|r_winner:record }}
                        </td>
                        <td>
                            {{ match|r_win_desc:record }}
                        </td>
                        <td>
                            {{ match|r_desc_plus:record }}
                        </td>
                        <td>
                            <a href="./{{forloop.counter0}}">查看</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    //{% if match.status <= 1 %}
    window.addEventListener('load', () => {
        setTimeout(() => {
            window.location.href = window.location.href.split('#')[0]
        }, 3000)
    })
    //{% endif %}
</script>
{% endblock %}