{% extends 'layout0.html' %}
{% load staticfiles %}

{% block title %}项目简介 - {{title}}{% endblock %}

{% block body %}
<div class='x_title'>
    <h1>项目简介</h1>
</div>
<div class='row x_block'>
    <div class='col-sm-6'>
        {% block intro %}我是简介框{% endblock %}
    </div>
    <div class='col-sm-6'>
        {% block images %}我是图片展示框{% endblock %}
    </div>
</div>
<!-- <div class='x_title'>
    <h1>传送门</h1>
</div> -->
<div class='row x_block'>
        <div class='col-sm-4'>
            <a href="/lobby/run_match/{{AI_type}}/" class='btn btn-primary form-control'>发起对战</a>
        </div>
        <div class='col-sm-4'>
            <a href="/lobby/ladder/{{AI_type}}/" class='btn btn-primary form-control'>查看天梯</a>
        </div>
        <div class='col-sm-4'>
            <a href="#/{{AI_type}}" class='btn btn-primary form-control'>这里放个啥？</a>
        </div>
</div>
{% endblock %}