{% extends 'layout0.html' %}

{% block header %}
<div class='col-sm-6'>
    <h1>
        {% block title %}
        {% if user.id == request.session.userid %}
        个人主页
        {% else %}
        查看用户: {{user.name}}
        {% endif %}
        {% endblock %}
    </h1>
</div>
{% if user.id == request.session.userid %}
<div class='col-sm-6 text-right'>
    <h1>
        <a href="/settings/">个人设置</a>
    </h1>
</div>
{% endif %}
{% endblock %}

{% block body %}
<div class='row x_block'>
    {% if user.id == request.session.userid %}
    <div class='col-sm-4'>
        <p>用户名：{{user.username}}</p>
    </div>
    <div class='col-sm-4'>
        <p>昵称：{{user.nickname}}</p>
    </div>
    <div class='col-sm-4'>
        <p>学号：{{user.stu_code}}</p>
    </div>
    <div class='col-sm-4'>
        <p>真实姓名：{{user.real_name}}</p>
    </div>
    <div class='col-sm-4'>
        <p>注册时间：{{user.register_datetime}}</p>
    </div>
    <div class='col-sm-4'>
        <p>登录时间：{{user.login_datetime}}</p>
    </div>
    {% else %}
    <div class='col-sm-4'>
        <p>用户名：{{user.name}}</p>
    </div>
    {% endif %}
</div>
<div class='x_title'>
    <h1>所有代码</h1>
</div>
<table class='table'>
    <thead>
        <tr>
            <th>名称</th>
            <th>类型</th>
            <th>战绩</th>
            <th>等级分</th>
        </tr>
    </thead>
    <tbody>
        {% with root_link="/code/" %}
        {% for code in user.code_set.all %}
        {% with sublink=code.id %}
        <tr {% include "sub/trow_link.html" %}{%endwith%}>
            <td>{{code.name}}</td>
            <td>{{code.get_ai_type_display}}</td>
            <td>
                {{code.num_matches}}赛{{code.num_records}}战- {{code.num_wins}}胜{{code.num_loses}}负{{code.num_draws}}平
            </td>
            <td>
                {{code.score_show}}
            </td>
        </tr>
        {% endfor %}{% endwith %}
    </tbody>
</table>
{% endblock %}