<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AI对战平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </script>
    <script> /* AJAX */
        function ajax(path, args) {// type = 'GET', params = null, callback = null, success = null, fail = null
            // read arguments
            if (typeof args != 'object') args = {}
            var type = args.type || 'GET'

            // deal with params
            if (typeof args.params != 'undefined') {
                var tmp = []
                for (var i in args.params) {
                    tmp.push(escape(i) + '=' + escape(args.params[i]))
                }
                args.params = tmp.join('&')
                if (type == 'GET') {
                    if (args.params) path += '?' + params
                    args.params = null
                }
            }
            console.log(path)
            console.log(args.params)

            // send request
            var request = new XMLHttpRequest()
            request.open(type, path, true);
            request.responseType = "arraybuffer";
            request.onload = function () {
                switch (request.status) {
                    case 200:
                        if (typeof args.success == "function") args.success(request.response)
                        break
                    default:
                        if (typeof args.fail == "function") args.fail(request.status)
                        break
                }
                if (typeof args.callback == "function") args.callback()
            }
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send(args.params)
        }
    </script>
</head>

<body>
    <h1>hello world</h1>
    <script>
    </script>
</body>

</html>