{% extends 'form_base.html' %}
{% load staticfiles %}

{% block title %}验证电子邮件{% endblock %}

{% block form_override %}
<div class="form-group">
    {%if checker%}
    <p>您已于{{send_time}}发送过验证邮件</p>
    {%if expire_delta%}
    <p>验证邮件将在<span id='timer1'>{{expire_delta}}</span>秒后({{expire_time}})过期</p>
    {%else%}
    <p>验证邮件已于{{expire_time}}过期，请重新发送激活邮件</p>
    {%endif%}
    {%else%}
    <p>您未发送过验证邮件</p>
    {%endif%}
</div>
<div class="form-group">
    {%if resend_delta%}
    <div class='btn btn-warning form-control disabled'><span id='timer2'>{{resend_delta}}</span>秒后可再次发送验证邮件</div>
    {%else%}
    <input type="submit" value="发送邮件至{{user.stu_code}}@pku.edu.cn" class='btn btn-primary form-control'>
    {%endif%}
</div>
{% endblock %}

{% if user.usermailcheck %}
{% block script %}
<script>
    c1 = "{{ expire_delta }}"
    c2 = "{{ resend_delta }}"
    setInterval(() => {
        // {%if expire_delta%}
        c1--
        document.getElementById('timer1').innerHTML = c1
        // {%endif%}
        // {%if resend_delta%}
        c2--
        document.getElementById('timer2').innerHTML = c2
        // {%endif%}
        if (c1 == 0 || c2 == 0)
            window.location.href = window.location.href.split('#')[0]
    }, 1000)
</script>
{% endblock %}
{% endif %}