{% load static %}

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/bootstrap.min.css' %}">
  <script src="{% static 'lib/jquery.min.js' %}"></script>
  <script src="{% static 'lib/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/view_base.css' %}">
  <script src="{% static 'js/table_holder.js' %}"></script>
  <script src="{% static 'js/helpers.js' %}"></script>
  <title>{% block title %}base{% endblock %} | 代码竞技场</title>
  {% block css %}{% endblock %}
</head>

<body>
  <!-- 导航栏 -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark border">
    <a class="navbar-brand" href="https://github.com/YukkuriC/django_ai_arena" target='_blank'>SESSDSA 代码竞技场</a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
      data-target="#navbar" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/game/">对战项目</a>
          <div class="dropdown-menu bg-dark">
            {% for pair in settings.AI_TYPES.items %}
            <a class="dropdown-item text-nav bg-dark" href="/game/{{pair.0}}/">{{pair.1}}</a>
            {% endfor %}
          </div>
        </li>
        {% if request.session.userid %}
        <li class="nav-item"><a class="nav-link" href="/home/">个人主页</a></li>
        <li class="nav-item"><a class="nav-link" href="/upload/">代码上传</a></li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/lobby/">对战大厅</a>
          <div class="dropdown-menu bg-dark">
            {% if request.session.curr_game >= 0 %}
            {% with gameid=request.session.curr_game %}
            <a class="dropdown-item text-nav bg-dark" href="/game/{{gameid}}/">比赛介绍</a>
            {% if request.session.userid %}
            <a class="dropdown-item text-nav bg-dark" href="/lobby/ranked_match/{{gameid}}/">匹配积分赛</a>
            <a class="dropdown-item text-nav bg-dark" href="/lobby/run_match/{{gameid}}/">自由对战</a>
            <a class="dropdown-item text-nav bg-dark" href="/lobby/ladder/{{gameid}}/">查看天梯</a>
            {% endif %}
            <a class="dropdown-item text-nav bg-dark" href="/lobby/#">返回首页</a>
            {% endwith %}
            {% else %}
            <a class="dropdown-item text-nav bg-dark" href="/lobby/#">大厅首页</a>
            {% endif %}
          </div>
        </li>
      </ul>
      {% if request.session.userid %}
      <ul class="navbar-nav ml-auto">
        <span class="navbar-text ml-auto">你好，{{request.session.username}} |</span>
        <li class="nav-item"><a class="nav-link" href="/changepasswd/">更改密码</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout/">登出</a></li>
      </ul>
      {% else %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/login/">登录</a></li>
        <li class="nav-item"><a class="nav-link" href="/register/">注册</a></li>
      </ul>
      {% endif %}
    </div>
  </nav>

  <!-- 消息系统 -->
  <div id='message_block'>
    {% include "sub/messages.html" %}
  </div>

  <!-- 主内容 -->
  {% block content %}{% endblock %}

  <!-- navbar light -->
  <script>
    nav_pool = document.getElementById('navbar').getElementsByTagName('a')
    current_page = window.location.href
    for (i = 0; i < nav_pool.length; i++) {
      nav = nav_pool[i]
      if (current_page.startsWith(nav.href)) {
        nav.classList.remove('text-muted')
        nav.classList.add('active')
      }
    }
  </script>
  {% block script %}{% endblock %}
</body>

</html>