<table class='table'>
    <thead>
        <tr>
            <th>{% if receive %}发起{% else %}接收{% endif %}方代码</th>
            <th>创建时间</th>
            <th>对局数</th>
            <th>状态</th>
        </tr>
    </thead>
    <tbody>
        {%with root_link="/match/"%}
        {%for match in match_list%}
        <tr {% with sublink=match.name %}{% include "sub/trow_link.html" %}{% endwith %}>
            <td>
                {% if receive %}
                {% if code == match.code1%} {{match.code1.name}}
                {% else %} <a href="/code/{{match.code1.id}}/">{{match.code1.name}}</a>
                {% endif %}
                {% else %}
                {% if code == match.code2%} {{match.code2.name}}
                {% else %} <a href="/code/{{match.code2.id}}/">{{match.code2.name}}</a>
                {% endif %}
                {% endif %}
            </td>
            <td>{{match.run_datetime|date:"Y/m/d H:i:s"}}</td>
            <td>{{match.finished_rounds}}/{{match.rounds}}</td>
            <td>{{match.get_status_display}}</td>
        </tr>
        {%endfor%}
        {%endwith%}
    </tbody>
</table>